page-fill-email {
  ion-content {
    background: color($colors, sec-main)!important;
    background-color: color($colors, sec-main)!important;
  }
  .buttons {
    text-transform: uppercase;
    border-radius: 3px !important;
    margin-bottom: 10px;
    box-shadow: none;
  }
  .titles {
    text-transform: uppercase;
    font-size: 1.2em;
    color: color($colors, text);
    margin-top: 20px;
  }
  ion-item {
    margin-bottom: 15px !important;
    color: color($colors, text) !important;
    background-color: transparent !important;
    font-size: 0.9em;
    ion-icon {
      margin-left: 5px;
      padding-right: 2px;
      padding-left: 2px;
    }
  }
  .up-part {
    margin: 60px auto;
    ion-label {
      text-transform: none;
    }
  }
  .item-md {
    padding-left: 0;
  }
  .hint {
    margin-top: 20px;
    margin-bottom: 40px;
    span {
      color: color($colors, text)
    }
  }
  .item-md.item-block .item-inner {
    border-bottom: 1px solid color($colors, text);
  }
  ion-grid {
    height: 100%;
    justify-content: center;
  }
  .scroll-content {
    overflow: hidden;
  }
}

