ion-slides {

	height: 100%;

	/* slide */
	ion-slide {
		// background-color: color($colors, sec-main);
		background-color: #FAECE6;

		.top {
			width: 100%;
			height: 60%;
			display: flex;
			justify-content: center;
			align-items: center;
			position: absolute;
			top: 0;
			padding-top: 44px;
			img {
				width: 60%;
				margin: 25px auto;
			}
		}

		.bottom {
			width: 100%;
			height: 40%;
			position: absolute;
			bottom: 0;
		}

		h2 {
			color: #797979;
			font-size: 1.2em;
			margin-top: 0;
		}

		p {
			color: #999999;
			font-size: 0.8em;
			margin: 3px auto;
		}
	}

}



