<!-- <intro-header></intro-header> -->

<ion-content>
	<ion-slides pager="true">

		<ion-slide *ngFor="let slide of slides; let i=index">

			<div class="top">
				<img src="{{slide.imgSrc}}">
			</div>
			<div class="bottom">
				<h2>
					<strong>{{slide.title}}</strong>
				</h2>
				<div class="">
					<p padding>{{slide.subtitle}}</p>
				</div>
				<ion-button *ngIf="slide.isShowBtn" shape="round" color="main" href="home">Get Started</ion-button>
			</div>

		</ion-slide>

	</ion-slides>
</ion-content>
