page-log-in {
  $transparent-white: rgba(255, 255, 255, .6);
  $sec: color($colors, sec-main);

  // Footer
  ion-footer {
    height: 47px;
  }
  .footer {
    text-align: center;
    background: rgba(255, 255, 255, .06);
    min-height: 47px;
    span {
      color: color($colors, text);
    }
  }
  .footer-md::before {
    border-top: 0px solid $transparent-white;
    background-image: none;
  }
  // Fullscreen animated rainbow gradient
  ion-content {
    background: color($colors, sec-main)!important;
    background-color: color($colors, sec-main)!important;
  }

  // Content
  .scroll-content {
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  .logo {
    width: 30%;
    height: auto;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 60px;
  }
  // Input items
  ion-item {
    margin-bottom: 15px !important;
    color: color($colors, text) !important;
    background-color: transparent !important;
    font-size: 0.9em;
    ion-icon {
      margin-left: 5px;
      padding-right: 2px;
      padding-left: 2px;
    }
  }

  .item-md.item-block 
  .item-inner {
    border-bottom: 1px solid color($colors, text);
  }

  ::-webkit-input-placeholder {
    color: color($colors, text) !important;
  }

  .item-md {
    padding-left: 0px !important;
  }

  // --
  .login-button {
    text-transform: none;
    border-radius: 3px !important;
    box-shadow: none;
  }
  // Facebook icon
  ion-icon {
    padding-right: 0px;
    font-size: 2.2rem;
  }

}
