<ion-header class="header">

  <ion-navbar color="main">
  </ion-navbar>

</ion-header>

<ion-content padding>
  <div class="up-part">
    <ion-label class="titles">
      <strong>Your email address is:</strong>
    </ion-label>
    <ion-item>
      <ion-label>
        <ion-icon name="ios-mail" color="text"></ion-icon>
        <span *ngIf="useremails">{{useremails.myemail}}</span>
      </ion-label>
    </ion-item>
    <ion-label class="titles">
      <strong>Your partner's email address is:</strong>
    </ion-label>
    <ion-item>
      <ion-label>
        <ion-icon name="ios-mail-outline" color="text"></ion-icon>
        <span *ngIf="useremails">{{useremails.youremail}}</span>
      </ion-label>
    </ion-item>
    <ion-item class="time">
      <p><strong>{{timetxt}}</strong></p>

    </ion-item>
    <div class="hint">
      <span>
    You partner must also register and request connection within 24 hours. Send download link to partner!
  </span>
    </div>
  </div>
  <button ion-button block color="login" (click)="toRegisterProfilePage()" class="buttons">Send Dowdload Link</button>
  <button ion-button block (click)="toLogInPage()" color="signup" class="buttons">Sign out</button>

</ion-content>