<ion-header>
	<ion-toolbar padding>
		<div float-left class="header-left">
			<img src="assets/img/circle-logo.png">
			<span>Lovebox</span>
		</div>
		<div float-right class="skip" color="main">SKIP</div>
	</ion-toolbar>
</ion-header>


<ion-content>
	<ion-slides pager>

		<ion-slide *ngFor="let slide of slides">

			<div class="top">
				<img style="width:60%; margin:25px auto" src="{{slide.imgSrc}}">
			</div>
			<div class="bottom">
				<h2>
					<strong>{{slide.title}}</strong>
				</h2>
				<div class="">
					<p padding>{{slide.subtitle}}</p>
				</div>
				<button *ngIf="slide.isShowBtn" ion-button round icon-end color="main" (click)="toNeworNotPage()">Get Started</button>
			</div>

		</ion-slide>

	</ion-slides>
</ion-content>
