page-answer-question {

  ion-content {
    background-color: color($colors, sec-main) !important;
  }

  .fakeblock {
      height: 51.6px;
  }
  .pin {
    margin-bottom: -67px;
    margin-left: 20px;
  }

  #uprow {
      margin-top: 5px;
  }

  .scroll-content {
    padding: 20px 24px !important;
  }

  ion-footer {
    ion-icon {
      font-size: 30px !important
    }
    .button-md {
    font-size: 0.9rem;
    text-transform: none;
    }
  }

  ion-textarea {
      padding-left: 10px;
      padding-right:10px;
  }

  .question-title {
      margin-left: 80px;
  }

  .answer-title {
      margin-left: 80px;
      margin-top: -8px;
  }

  .guide {
      padding-left: 18px;
      padding-right:18px;
      margin-top: 8px;
      margin-bottom: 5px;
      p {
        color: #999;
      }
      height: 60px;
  }

  ion-label {
    
  }

}

