page-msg-content {
  ion-content {
    background-color: color($colors, sec-main) !important;
  }

  .pin {
    margin-bottom: -67px;
    margin-left: 20px;
  }

  .scroll-content {
    padding: 20px 24px !important;
  }

  #time {
    float: right;
    margin-top: 10px;
    margin-bottom: 14px;
    margin-right: 10px;
    color: color($colors, text-grey);
    font-size: 12px
  }

  ion-footer {
    ion-icon {
      font-size: 29px !important
    }
    .button-md {
    font-size: 0.9rem;
    text-transform: none;
    }
  }

  ion-textarea {
      padding-left: 10px;
      padding-right:10px;
  }

  .content {
      padding-left: 18px;
      padding-right:18px;
      margin-top: 8px;
      margin-bottom: 5px;
      p {
        color: #999;
      }
  }
}