page-edit-profile {
  $text : color($colors, text);
  ion-content {
    background: color($colors, sec-main)!important;
    background-color: color($colors, sec-main)!important;
  }
  .buttons {
    text-transform: uppercase;
    border-radius: 3px !important;
    margin-bottom: 20px;
    margin-top: 30px;
    box-shadow: none;
  }
  .titles {
    text-transform: uppercase;
    font-size: 1em;
    color: color($colors, text);
    margin-top: 10px;
  }
  ion-item {
    margin-bottom: 15px !important;
    color: color($colors, text) !important;
    background-color: transparent !important;
    font-size: 0.9em;
  }
  ion-icon {
    margin-left: 5px;
    padding-right: 2px;
    padding-left: 2px;
  }
  .birthday-item {
    ion-icon {
      margin-left: 5px;
      padding-right: 2px;
      padding-left: 2px;
      margin-right: 15px
    }
  }
  .up-part {
    margin-top: 0px;
    padding-bottom: 40px;
    background-color: color($colors, item-bg); 
  }
  .item-md {
    padding-left: 0;
  }

  .item-md.item-block .item-inner {
    border-bottom: 1px solid color($colors, text);
  }

  ion-avatar img,
  ion-thumbnail img {
    display: block;
    margin: 0 auto;
    width: 16vh;
    height: auto;
  }
  #profile-photo {
    display: block;
    border-radius: 50%;
    box-shadow: 0px 11px 20px -3px rgba(142, 136, 146, 0.35);
  }
  .changeimagebtn {
    width: 18vh;
    font-size: 1.2rem !important;
    margin-top: 10px;
  }
  .btncontainer {
    text-align: center;
  }

  p {
    color: $text;
  } // Cover image
  #profile-bg {
    position: absolute;
    left: 0;
    width: 100%;
    margin-top: -16px;
    height: 160px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
  } // Profile content
  #content {
    position: relative;
    margin-top: 150px;
    padding-top: 200px;
    padding-bottom: 0px;
    text-align: center;
    margin-bottom: 10px;
    background-color: color($colors, item-bg);
  }
  #profile-image {
    display: block;
    border-radius: 50%;
    width: auto;
    height: 100px;
    margin: 0 auto 0;
    box-shadow: 0px 11px 20px -3px rgba(142, 136, 146, 0.75);
  }
  #profile-info {
    position: absolute;
    top: -95px;
    width: 100%;
    z-index: 2;
    text-align: center;
  }
  #profile-name {
    color: #444;
    font-size: 26px;
  }
  .profile-description {
    font-size: 15px;
    color: #888;
  }

}

