.intro-header {
	position: relative;
	display: flex;
	// background: transparent !important;
	// background-color: transparent !important;
	background-color: #FAECE6;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
}

.header-left {
	display: flex;
	align-items: center;
	img {
		height: 30px;
		width: auto;
		margin-right: 5px;
	}
	span {
		font-size: 1.2em;
		color: #f36b67;
		font-weight: bold;
	}
}

.skip {
	line-height: 30px;
	color: #f36b67;
	font-size: 1em;
}
